* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

#header {
    background-color: #3f5259;
    padding: 20px 10px;
    display: flex;
    justify-content: space-between;
}

#links {
    align-self: center;
}
#links a {
    text-decoration: none;
    color: white;
    margin-right: 20px;
}

#logo {
    margin-left: 20px;
}